body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #AB2A19;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

#head-btns {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

#head-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 24px;
}

#head-btn:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

#logo:hover {
  cursor: pointer;
}

#logo {
  background-color: rgba(171, 42, 25, 0);
  color: white;
  font-size: 42px;
  border: none;
  font-weight: bold;
}

.footer {
  height: 10vh;
  background-color: rgb(34, 34, 34);
  width: 100%;
  position: absolute;
  bottom: 0;
}
